@import "theme/common-style.scss";

.button {
  @include flex-container(center, center, column);
  @include text;
  @include gradientText($buttonTextGradient);
  position: relative;
  height: 39px;
  border-radius: 8px;
  border: none;
  overflow: hidden;
  padding-left: 27px;
  padding-right: 27px;
  box-shadow: $buttonShadow;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $primaryColor;
    border-radius: inherit;
    z-index: -1;
  }

  &:hover,
  &:active {
    @include gradientText($buttonTextGradienHover);
    box-shadow: $hoverButtonShadow;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  @include screen-xs {
    padding-left: 39px;
    padding-right: 39px;
    height: 45px;
  }
}

