@import "theme/common-style";

.table {
  @include flex-container(center, center);
  mix-blend-mode: multiply;
  background-image: $backgroungFabricDescktop;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .inCenter {
    @include flex-container(center, center, column);
    width: 67vw;
    height: 45vh;
    border: 1px solid $borderStartColor;
    outline: 1px solid $borderStartColor;
    outline-offset: 7px;
    border-radius: 33px;

    h1 {
      @include flex-container(center, center);
      margin-bottom: 17px;
      position: relative;
      background: $textColorGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include screen-maxHeight(500px) {
        margin-top: 5%;
        margin-bottom: 1%;
      }
    }
  }
}

.gradientTopDown {
  @include gradientTopDown;
}

.gradientLeftRight {
  @include gradientLeftRight;
}
