@import "theme/common-style.scss";

.cards {
  @include flex-container;
  @include cardStyle;
  position: absolute;
  bottom: -123.93px;
  left: 28.19%;

  @include screen-sm {
    left: 0;
  }
  @include screen-xs {
    left: 5%;
    top: 75vh;
  }
  //iphoneSE
  @include tabletMax(360px, 740px) {
    left: 0;
  }
  // //fold
  @include tabletMax(280px, 653px) {
    left: -20px;
    bottom: 150px;
  }
  //nestHub
  @include tabletMax(1024px, 600px) {
    left: 15%;
    bottom: -180px;
  }

  img {
    @include cardStyle;
    @include randomCardDraw(5px);
    box-shadow: $color-cards-shadow-middle;
    position: absolute;
    left: 1px;

    &:not(:last-child) {
      filter: blur(4px);
    }

    @for $i from 1 through 26 {
      &:nth-child(#{$i}) {
        top: $i + 5px;
        box-shadow: $color-cards-shadow-middle;
        left: ((($i - 2) * 5px) + 156.5px);

        @include screen-lg {
          left: ((($i - 2) * 13px) + 30.5px);
        }

        @include screen-xs {
          left: ((($i - 2) * 6px) + 30.5px);
        }

        @include tabletMax(280px, 653px) {
          left: ((($i - 3) * 4px) + 30.5px);
        }
      }
    }
  }
}
