@import "theme/common-style.scss";

.deckContainer {
  position: absolute;
  top: 7.7%;
  left: 65%;
  width: 11.79rem;
  height: 21.712rem;
  object-fit: cover;

  img {
    box-shadow: $cardsShadow;
    width: 12.42rem;
    min-width: 10.705rem;
    height: 17.493rem;
    min-height: 14.987rem;
  }
}
