$font-family: "Hoefler Text, sans-serif";

@mixin typography {
  h1 {
    font-weight: 400;
    font-size: 87px;
    text-align: center;
    @include flex-container(center, center);
    position: relative;
    background: $textColorGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;

    @include screen-maxHeight(500px) {
      margin-top: 5%;
      margin-bottom: 1%;
    }

    @include screen-xs {
      font-size: 3.3rem;
    }
    @include screen-range(768px, 900px) {
      margin-top: 15%;
    }

    @include screen-maxHeight(740px) {
      font-size: 3.38rem;
    }
  }
}

@mixin text {
  font-family: $font-family;
  font-size: 17px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;

  @include screen-xs {
    font-size: 15px;
  }
}

@mixin gradientText($gradient) {
  background-image: $gradient;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
