@import "./common-font.scss";
@import "./common-responsive.scss";
@import "./common-colors.scss";

@mixin flex-container(
  $justify-content: "flex-start",
  $align-items: "stretch",
  $flex-flow: "row nowrap",
  $inline: false
) {
  @if $inline {
    display: inline-flex;
  } @else {
    display: flex;
  }
  justify-content: #{$justify-content};
  align-items: #{$align-items};
  flex-flow: #{$flex-flow};
  @content;
}

//table shadows with gradient for TableStart & PlayStart
@mixin gradientTopDown {
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.43;
  }

  &::before {
    top: 0;
    height: 35%;
    background-image: $gradientUp;
  }

  &::after {
    bottom: 0px;
    height: 35%;
    background-image: $gradientDown;
  }
}

@mixin gradientLeftRight {
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.43;
    z-index: -2;
    top: 0;
    width: 30%;
    height: 100%;
  }

  &::before {
    left: 0px;
    background-image: $gradientLeft;
  }

  &::after {
    right: 0px;
    background-image: $gradientRight;
  }
}

@mixin cardStyle($max-width: 450px, $max-height: 920px) {
  height: 280px;
  width: 200px;
  box-shadow: $cardsShadowMiddle;

  @media (max-width: #{$max-width}) and (max-height: #{$max-height}) {
    height: 239.8px;
    width: 171.29px;
  }

  @content;
}

@mixin buttonPadding($padding) {
  padding-left: $padding;
  padding-right: $padding;
}