@import "theme/common-style";

.table {
  @include flex-container(center, center);
  mix-blend-mode: multiply;
  background-image: $backgroundFabricDescktop;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .inCenter {
    @include flex-container(center, center, column);
    width: 67vw;
    height: 45vh;
    border: 1px solid $borderStartColor;
    outline: 1px solid $borderStartColor;
    outline-offset: 7px;
    border-radius: 33px;
  }
}

.gradientTopDown {
  @include gradientTopDown;
}

.gradientLeftRight {
  @include gradientLeftRight;
}
