@import 'theme/common-style';

.button {
  @include gradientText($color-primary-1);
  @include text;
  text-align: center;
  border: none;
  border-radius: 8px;
  width: 99px;
  height: 37px;
  background-color: $color-secondary-basic;
  box-shadow: $shadow-basic;
  cursor: pointer;

  &:hover,
  &:active {
    @include gradientText($color-primary-3);
    box-shadow: $shadow-hover;
  }
}
