@import "theme/common-style.scss";

.cards {
  @include flex-container;
  position: absolute;

  img {
    @include cardStyle;
    position: absolute;
    top: 4px;
    z-index: 1;

    &:nth-child(2) {
      z-index: 2;
      left: 107px;
    }

    &:nth-child(3) {
      z-index: 3;
      left: 181px;
      top: 10px;
    }

    &:nth-child(4) {
      z-index: 4;
      left: 269px;
    }

    &:nth-child(5) {
      z-index: 5;
      top: 4px;
      left: 351px;
    }

    &:nth-child(6) {
      z-index: 6;
      top: 10px;
      left: 414px;
    }
  }

  &.left {
    width: 300px;
    height: 614px;
    top: 29%;
    left: -1%;
    transform: rotate(-90deg);

    @include screen-lg {
    }
    @include screen-md {
    }
    @include screen-sm {
    }
    @include screen-xs {
      display: none;
    }
  }

  &.right {
    width: 300px;
    height: 614px;
    right: -2%;
    top: -5%;
    transform: rotate(90deg);

    @include screen-sm {
    }
    @include screen-xs {
      display: none;
    }
  }

  &.top {
    left: 429px;
    top: -185.92px;
    height: 290px;
    width: 614px;

    @include screen-sm {
    }
    @include screen-xs {
      display: none;
    }
  }
}
